@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", serif;
}
.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 60px;
}
.btnHeadOne {
  border-left: 0.3px solid rgb(229, 231, 235);
  border-right: 0.3px solid rgb(229, 231, 235);
}
.modalLang{
  display: none;
  box-shadow: 0 0 5px 1px gray;
}
.btnLang:hover .modalLang{
 display: block;
}
.lang {
  border: 0.3px solid rgb(185, 182, 182);
}
.gender_w{
  position: relative;
}
.gender_w::after{
  position: absolute;
  bottom: 0;
  left: 10px;
 content: '';
 width: 30px;
 height: 1px;
 background-color: black;
}
.about {
  font-family: "Bebas Neue", serif;
}
.head_two {
  border-bottom: 0.3px solid rgb(229, 231, 235);
}
input::placeholder {
  color: rgb(94, 94, 94);
  font-size: 16px;
  font-weight: 400;
}
.photo {
  border-bottom: 0.3px solid rgb(229, 231, 235);
}

.sliderFirst,
.sliderSecond {
  transition: 0.6s linear;
}

/* Input radio */ 
.radio-input input {
  border-radius: 50%;
  border: 2px solid gray;
}
.radio-input label input:checked + .text {
 color: black;
}
.radio-input label input:checked {
  background-color: white;
  border: 2px solid black;
  -webkit-animation: puls 0.7s forwards;
  animation: pulse 0.7s forwards;
}

.radio-input label input:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: black;
  transform: scale(0);
}

.radio-input label input:checked::before {
  transform: scale(1);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}


/* Email */ 
.input-field label {
  transform: translateY(0.6rem);
  transition: all 0.3s ease;
}

.input-field input:focus,
.input-field input:valid {
  outline: none;
  border: .5px solid black;
  background-color: #fff;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  transform: translateY(-46%) translateX(-10px) scale(0.8);
  background-color: #fff;
  padding: 0px 5px;
  color: black;
}

.btn{
  transition: transform 0.3s ease;
}
.btn:hover{
  box-shadow: 0 0 5px 1px gray;
  transform: translateY(-5px);
}

.textMain{
  border-bottom: 0.3px solid rgb(229, 231, 235);
  border-top: 0.3px solid rgb(229, 231, 235);
}